<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="media.pixi.rx.firebase.auth.kit">

    <application>

        <activity
                android:label="@string/account"
                android:name=".ui.account.AccountActivity"/>

        <activity
                android:label="@string/sign_up"
                android:parentActivityName=".ui.signin.SignInActivity"
                android:name=".ui.signup.SignUpActivity"/>

        <activity
                android:label="@string/sign_in"
                android:name=".ui.signin.SignInActivity"/>

        <activity
                android:label="@string/forgot_password"
                android:parentActivityName=".ui.signin.SignInActivity"
                android:name=".ui.passwordforgot.PasswordForgotActivity"/>

        <activity
                android:label="@string/update_password"
                android:parentActivityName=".ui.account.AccountActivity"
                android:name=".ui.passwordupdate.PasswordUpdateActivity"/>

    </application>

</manifest>