<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="media.pixi.rx.firebase.auth.kit">

    <application>

        <activity
                android:label="@string/account"
                android:theme="@style/AuthKitAppTheme.NoActionBar"
                android:name=".ui.account.PasswordForgotActivity"/>

        <activity
                android:label="@string/sign_in"
                android:theme="@style/AuthKitAppTheme.NoActionBar"
                android:name=".ui.signin.SigninActivity"/>

    </application>

</manifest>