<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="media.pixi.rx.firebase.profile.kit">

    <application>

        <activity
                android:label="@string/profile"
                android:theme="@style/AuthKitAppTheme.NoActionBar"
                android:name=".ui.profile.ProfileActivity"/>

    </application>

</manifest>
