<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="media.pixi.appkit.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:name=".App"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:theme="@style/AppTheme.NoActionBar"
                android:name=".ui.home.HomeActivity"/>

        <activity
                android:label="@string/account"
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.account.AccountActivity"/>

        <activity
                android:label="@string/notifications"
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.notifications.NotificationsActivity"/>

        <activity
                android:label="@string/profile"
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.userprofile.UserProfileActivity"/>

        <activity
                android:label="@string/friends"
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.friends.FriendsActivity"/>

        <activity
                android:label="@string/forgot_password"
                android:parentActivityName="media.pixi.appkit.ui.signin.SignInActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.passwordforgot.PasswordForgotActivity"/>

        <activity
                android:label="@string/password_reset"
                android:parentActivityName="media.pixi.appkit.ui.signin.SignInActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.passwordreset.PasswordResetActivity"/>

        <activity
                android:label="@string/update_password"
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.passwordupdate.PasswordUpdateActivity"/>

        <activity
                android:label="@string/devices"
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.devices.DevicesActivity"/>

        <activity
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.myprofile.ProfileActivity"/>

        <activity
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".ui.home.HomeActivity"
                android:name="media.pixi.appkit.ui.search.SearchActivity"/>

        <activity
                android:label="@string/settings"
                android:parentActivityName=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.settings.SettingsActivity"/>

        <activity
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".ui.splash.SplashActivity"
                android:name="media.pixi.appkit.ui.signup.SignUpActivity"/>

        <activity
                android:theme="@style/AppTheme.NoActionBar"
                android:name="media.pixi.appkit.ui.signin.SignInActivity"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>


        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/appkit__ic_tool_black_24px" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
                android:name="media.pixi.appkit.service.AppKitNotificationService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>